
/* Propietats Colors */
:root {
    --tercer:#d4ed9d;
    --segon:#64a97b; 
    --primer: #cdd582;
    
    
    }


body {
    background-color: var(--segon) !important;
}

header, footer {
    background-color: var(--primer) !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin: 20px
}


nav {
    background-color: var(--tercer) !important;
    top: -7px;
}

#MainContent > div, #Content > div{
    font-family: Georgia, serif;
    margin: 20px;
}

#MainContent, #Content {
    background-color: var(--tercer) !important;
}

img {
    width: 30px;
}

.lorem{
    margin-top: 20px;
    margin-right: 20px; 
    height: 200px;
    width: 200px;
  }
  
#lorem2 {
    padding: 10px;
}


.container {
    margin-top: 10px;
}


