
/* Propietats Colors */
:root {
    --primer: #fda403;
    --segon: #e8751a;
    --tercer: #c51350;
}


body {
    background-color: var(--segon) !important;
}

header, footer {
    background-color: var(--primer) !important;
    text-align: center;
    font-family: Georgia, serif;
}


nav {
    background-color: var(--tercer) !important;
}

#MainContent > div, #Content > div{
    font-family: Georgia, serif;
    margin: 20px;
}

#MainContent, #Content {
    background-color: var(--tercer) !important;
}

img {
    width: 30px;
}

.container {
    margin-top: 10px;
}


